/* theme.css */

body {
    text-align: center;
    font-family: arial, sans-serif; /* Specify your preferred font */
    color: gold; /* Set the font color to gold */
    
    background-color: black;
}

.custom-div {
    /* Custom div */
    padding: 10px;
    border: 5px solid gold;
    margin: 0%; 
    font-size: 18px; 
    align: center;
}

/* Rename */
.custom-div2 {
    /* Custom div2 */
    /* width: 50%; */
    padding: 10px;
    border: 5px solid gold;
    margin: 0%; 
    font-size: 18px; 
    align: center;
}

.new-div {
    color: gold;
}

hr {
    border-color: gold;
    margin: 5px 0;
    width: 100%;
}
/* Set gold font color */
p {
    color: white;
}

/* Set white color for other elements */
/* Add specific selectors as needed */
h1, h2, h3 , h4{
    color: gold;
    padding: 10px
    font-family: 'myFont', arial;
}
/* set a custom font here*/
@font-face {
    font-family: "myFont";
    src: url('fonts/ALFABET.ttf') format('truetype');
}
/* Set white color for links */
a {
    color: white;
}

ul  {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    /* background-color: blue; */
}

li {
    float: right;
    padding: 0.15px 6px;
}


/* Style visited links */
a:visited {
    color: white;
}

/* Style hover effect for links */
li a:hover {
    color: gold;
}

/* Style active links */
li a:active {
    color: gold;
}

.footer {
    position: fixed;
    left: -30;
    bottom: 0;
    width: 100%;
    color: gold;
    padding: 5px;
    text-align: right;
}
