/* theme.css */

body {
    text-align: center;
    font-family: arial, sans-serif; /* Specify your preferred font */
    color: gold; /* Set the font color to gold */
    
    background-color: black;
}

.custom-div {
    /* Custom div */
    padding: 10px;
    border: 6px solid gold;
    margin: 0%; 
    font-size: 18px; 
    align: center;
}

/* Rename */
.custom-div2 {
    /* Custom div2 */
    /* width: 50%; */
    padding: 10px;
    border: 2.5px solid gold;
    margin: 0%; 
    font-size: 18px; 
    align: center;
}

.new-div {
    color: gold;
    position: fixed;
}

hr {
    border-color: gold;
    margin: 5px 0;
    width: 100%;
}
/* Set gold font color */
p {
    color: white;
}

/* Set white color for other elements */
/* Add specific selectors as needed */
h1, h2, h3 , h4 {
    color: gold;
    padding: 10px
    font-family: sans-serif;
}

/* Set white color for links */
a {
    color: white;
}

/* unordered li*/
ul  {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    /* background-color: blue; */
}

/*li */
li {
    float: left;
    padding: 0.15px 6px;
}


/* Style a links */
a:visited {
    color: white;
}

/* Style hover effect for li */
li a:hover {
    color: gold;
}

/* Style active links */
li a:active {
    color: gold;
}
/* Footer*/
.footer {
    position: fixed;
    background-color: black;
    right: 2;
    bottom: 0;
    width: 100%;
    color: gold;
    padding: 0px;
    text-align: right;
}