{% extends 'layout.html'%}

{% block title %}
Contact
{% endblock %}

{% block content%}
<main>
    <!-- Contents Here-->
    <div class="custom-div">
        <h2>Contact Us</h2>
<hr/>

        <table>
            <tr width="100%">
                <th>Name & Surname</th>
                <th>E-mail</th>
            </tr>
            <tr>    
                <th>Name: </th>
                <td>Pule Mathikha</td>
                <th>e-mail: </th>
                <td>proceedingmc@gmail.com</td>
            </tr>
            <tr>    
                <th>Name: </th>
                <td>Mpho Mofokeng</td>
                <th>e-mail: </th>
                <td>christian.mofokeng@gmail.com</td>
            </tr>
            
        </table>


</main>
{% endblock %}
