
<body style="background-color: black;" align="center">
	<header>
        <div class="logo"></div>
	</header>
	<div class="new-div" >
	<h1><b><t>Music Like</t></b></h1>
	</div>


<hr color="gold" width="100%" />

<!-- NAV BAR here for configurations -->
	<ul>
		<li><a href="#aboutus">AboutUs</a></li>
		<li><a href="#contact">Contact</a></li>
		<li><a href="#home">Home</a></li>
		
		


	</ul>
	<!-- NAV BAR ENDS -->
	<hr color="gold" width="100%" />


	<p align=center>Content Here!</p>

	<div class="custom-div" align="center">
		<!-- Your content goes here -->
		<h1>This text will have a different color and font size.</h1>
		<p>
		#
		#
		#
		#
		#
		#
		#
		#
		#
		#
		#
			...
		</p>
	</div>

	<div class="custom-div2">
		<!-- Your content goes here -->
		<h1>This text will have a different color and font size.</h1>
		<p>
		#
		#
		#
		#
		#
		#
		#
		#
		#
		#
		#
			...
		</p>
	</div>




<hr color="gold" width="100%" />

<div align="right">
		<footer>
		</p>Estabished: 2024</p>
	</footer>
	</div>
</body>
</html>
