{% extends 'layout.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<main>
    <!-- Nav Bar-->
    {% include 'navBar.html' %}

    <!-- Error messages when needed -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="alert-container">
                <div class="alert alert-success" role="alert">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    {% endwith %}
    
</main>

<!-- Include the alert_timer.js file -->
<script src="{{ url_for('static', filename='alert_timer.js') }}"></script>

{% endblock %}
