{% extends 'layout.html'%}

{% block title %}
Home
{% endblock %}

{% block content%}
<main>
    <!-- Contents Here-->
    <div class="custom-div" align="center">
		<!-- Your content goes here -->
		<h1>This text will have a different color and font size.</h1>
		<p>
		#
		#
		#
		#
		#
		#
		#
		#
		#
		#
		#
			...
		</p>
	</div>

	<div class="custom-div2">
		<!-- Your content goes here -->
		<h1>This text will have a different color and font size.</h1>
		<p>
		#
		#
		#
		#
		#
		#
		#
		#
		#
		#
		#
			...
		</p>
	</div>

    
</main>
{% endblock %}
