<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
            {% block title %}
                Music Like
            {% endblock %}
        </title>

		 <!-- Link to your theme.css file -->
		 <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
		 <link rel="stylesheet" href="{{ url_for('static', filename='tstyle.css') }}">
         <link rel="stylesheet" href="{{ url_for('static', filename='accordion.css') }}">

        </head>


<body>

        <header>
            <div>
                {% if user_count != 'login' and current_page != 'login' and current_page != '/' and current_page != 'signUp' %}
            <p style="font-size: 10px; text-align: left;"> Users: {{ user_count}}</p>
            {% endif %}
            <h1><b>Music Like</b></h1>
            </div>   
        </header>
<hr/>
<div class="main-content">
<!-- Main Content -->
    {% block content %}

    {% endblock %}
</div>
<br/>
<br/>
<br/>
<br/>

<!-- Footer -->
    
        <footer class="footer">
            <div align="right">
            <hr/>
            <table>
                <th style="display: inline">2024 &trade;<th>
                    {% if username != 'Guest' and current_page != 'login' and current_page != '/' and current_page != 'signUp' %}
                    <th><a href="{{ url_for('logout') }}">logout</a></th>
                    {% endif %}
        </table>
        </div>
        </footer>

        <script>

            var acc = document
            .getElementsByClassName("accordion");
            
            var i;
            
            for (i = 0; i < acc.length; i++) {
             acc[i].onclick = function(){
              this.classList.toggle("active");
              this.nextElementSibling.classList
              .toggle("show");
              }
            }
            
            </script>
</body>
</html>
