<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
            {% block title %}
                Music Like
            {% endblock %}
        </title>

		 <!-- Link to your theme.css file -->
		 <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
		 <link rel="stylesheet" href="{{ url_for('static', filename='tstyle.css') }}">
        </head>


<body>

        <header>
            <div class="logo"></div>
        
            <div class="new-div">
            <h1><b>Music Like</b></h1>
            </div>
    </header>
<hr/>
<div class="main-content">
<!-- Main Content -->
    {% block content %}

    {% endblock %}
</div>
<br/>
<br/>
<br/>
<br/>
<!-- Footer -->
    
        <footer class="footer">
            <div align="right">
            <hr/>
            <table>
                <th></p>Estabished: 2024</p><th>
                    {% if username != 'Guest' and current_page != 'login' and current_page != '/' %}
                    <td><a href="{{ url_for('logout') }}">logout</a></td>
                    {% endif %}
        </table>
        </div>
        </footer>
    
</body>
</html>
