<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
            {% block title %}
                Music Like
            {% endblock %}
        </title>

		 <!-- Link to your theme.css file -->
		 <link rel="stylesheet" href="{{ url_for('static', filename='theme.css') }}">
        </head>


<body>

        <header>
            <div class="logo"></div>
        
            <div class="new-div" >
            <h1><b>Music Like</b></h1>
            </div>
    </header>
<hr/>
<!-- NAV BAR here for configurations -->

<!-- Disable Nav bar IF <filename> mentioned -->
    {% if current_page != 'login' and current_page != '/' %}

    <nav>
        <ul>
            <li><a href="{{ url_for('aboutus') }}">AboutUs</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
            <li><a href="{{ url_for('home') }}">Home</a></li>
        </ul>
    </nav>
<!-- End IF Statement-->
{% endif %}
<!-- NAV BAR ENDS -->
<hr>
<br/>
<!-- Main Content -->
    {% block content %}

    {% endblock %}

<!-- Footer -->
    <div align="right">
        <footer class="footer">
            <hr/>
            </p>Estabished: 2024</p>
        </footer>
    </div>
</body>
</html>