{% extends 'layout.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}
<main>
    
    <div class="custom-div" align="center">
        <h2><u>Login</u></h2>
        <hr/>
        <form id="loginForm" action="/login" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
        <br/>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
        <hr/>
        <br/>
            <!-- Login button-->
            <button type="submit">Login</button> 
            <!-- Sign Up button -->
            <a href="{{ url_for('signUp') }}" class="btn btn-primary">Sign Up</a>
        </form>
        <!-- Display error message if login fails -->
        {% if error %}
            <p>{{ error }}</p>
        {% endif %}
    </div>
</main>

<script>
    // JavaScript function to change border color if login fails
    {% if error %}
        document.addEventListener("DOMContentLoaded", function() {
           document.querySelector('.custom-div').style.border = '15px solid red';
        });
    {% endif %}
</script>
{% endblock %}
