{% extends 'layout.html'%}



{% block content %}
<body>

    <h1>{{ user.username }}</h1>
    <p>Name: {{ user.name }}</p>
    <p>Surname: {{ user.surname }}</p>
    <p>Email: {{ user.email }}</p>

    <button style="background-color: gold;">
        <a href="{{ url_for('home') }}" style="font-size: 20px;"><-</a>
    </button>


    <footer class="footer">
        <div align="right">
        <hr/>
        <table>
            <th style="display: inline">2024 &trade;<th>
                {% if username != 'Guest' and current_page != 'login' and current_page != '/' and current_page != 'signUp' %}
                <th><a href="{{ url_for('logout') }}" style="color: red;">logout</a></th>
                {% endif %}
    </table>
    </div>
    </footer>
</body>
</html>
   
{% endblock %}