{% extends 'layout.html' %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}
<main>
    <div class="custom-div" align="center">
        <!-- Display error message if login fails -->
    {% if error %}
            <div width="100%">
                <p style="color: red;">{{ error }}</p>
            </div>
    {% endif %}

        <h2>Sign Up</h2>
        <form id="signupForm" action="/signup" method="POST">
            <hr/>
            <!-- Username field -->
            <div class="form-group">
                <label for="username">Username:</label>
                <br/>
                <input type="text" id="username" name="username" placeholder="Username" required>
            </div>
            <br/>
            <hr/>
            <!-- Name field -->
            <div class="form-group">
                <label for="name">Name:</label>
                <br/>
                <input type="text" id="name" name="name" placeholder="First Name" required>
            </div>
            <!-- Surname field -->
            <div class="form-group">
                <label for="surname">Surname:</label>
                <br/>
                <input type="text" id="surname" name="surname" placeholder="Last Name" required>
            </div>
            <br/>
            <hr/>
            <!-- Email field -->
            <div class="form-group">
                <label for="email">e-mail:</label>
                <br/>
                <input type="email" id="email" name="email" placeholder="E-mail" required>
            </div>
            <br/>
            <hr/>
            <!-- Password field -->
            <div class="form-group">
                <label for="password">Password:</label>
                <br/>
                <!-- Password input type -->
                <input type="password" id="password" name="password" placeholder="Password" required>
                <!-- Icon to toggle password visibility -->
                <span toggle="#password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            </div>
            <br/>
            <!-- Confirm Password field -->
            <div class="form-group">
                <label for="confirm_password">Confirm Password:</label>
                <br/>
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Your Password" required>
            </div>
            <!-- Submit button -->
            <br/>
            <hr/>
            <button type="submit" style="background-color: gold; font-size: 18px"><b>Sign Up</b></button>
        </form>
    </div>
    <br/>
</main>

<script>
    // JavaScript function to change border color if login fails
    {% if error %}
        document.addEventListener("DOMContentLoaded", function() {
           document.querySelector('.custom-div').style.border = '15px solid red';
        });
    {% endif %}

    // Function to toggle password visibility
    document.addEventListener("DOMContentLoaded", function() {
        // Find the toggle password icon
        const togglePassword = document.querySelector('.toggle-password');
        // Add click event listener to the toggle password icon
        togglePassword.addEventListener('click', function() {
            // Find the password field associated with the icon
            const passwordField = document.querySelector(this.getAttribute('toggle'));
            // Toggle the eye icon class to show/hide eye slash icon
            this.classList.toggle('fa-eye-slash');
            // Toggle the password field type between text and password
            if (passwordField.getAttribute('type') === 'password') {
                passwordField.setAttribute('type', 'text');
            } else {
                passwordField.setAttribute('type', 'password');
            }
        });
    });
</script>
{% endblock %}
